body {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
}

.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h1, h2 {
    text-align: right;
    font-weight: bold;
    color: red;
}

p {
    text-align: right;
}

em {
    color: green;
}
